@font-face {
  font-family: 'Light';
  src: url('./fonts/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Regular';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bold';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Fonts
$fontLight: 'Light';
$fontRegular: 'Regular';
$fontMedium: 'Medium';
$fontBold: 'Bold';

// Font size
$fontSize: 0.75rem !default;

.sp-fnt {
  &.light {
    font-family: $fontLight;
  }

  &.regular {
    font-family: $fontRegular;
  }

  &.medium {
    font-family: $fontMedium;
  }

  &.bold {
    font-family: $fontBold;
  }

  &.italic {
    font-style: italic;
  }

  @for $i from 5 through 10 {
    $value: $i * 100;
    &.w#{$value} {
      font-weight: $value !important;
    }
  }

  @for $i from 0 through 20 {
    &.size-#{$i} {
      font-size: $fontSize !important;
    }
    $fontSize: $fontSize + 0.25;
  }
}