@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #9599f7,
    ),
    'success': (
      'base': #67A42C,
    ),
    'warning': (
      'base': #FFE089,
    ),
    'danger': (
      'base': #f33a67,
    ),
    'error': (
      'base': #f33a67,
    ),
    'info': (
      'base': #89b3fe,
    ),
  ),
  $font-family: (
    '': 'Comfortaa-Regular'
  ),
  $font-size: (
    'base': 1rem
  )
);
