@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #1976d2,
    ),
    'success': (
      'base': #2e7d32,
    ),
    'warning': (
      'base': #ed6c02,
    ),
    'danger': (
      'base': #d32f2f,
    ),
    'error': (
      'base': #c62828,
    ),
    'info': (
      'base': #0288d1,
    ),
  ),
  $font-family: (
    '': 'Roboto-Regular'
  ),
  $font-size: (
    'base': 1rem
  )
);
