@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #8e44ad,
    ),
    'success': (
      'base': #27ae60,
    ),
    'warning': (
      'base': #f39c12,
    ),
    'danger': (
      'base': #d35400,
    ),
    'error': (
      'base': #c0392b,
    ),
    'info': (
      'base': #2980b9,
    ),
  ),
  $font-family: (
    '': 'Roboto-Regular'
  ),
  $font-size: (
    'base': 1rem
  )
);
