@use "variables";
@use "flex";
@use "layout";
@use "indents";
@use "helper";
@use "menu";
@use "nav";
@use "color";
@use "button";
@use "table";

body, #app {
  color: var(--color-dark);
  font-family: var(--font-regular);
  font-size: 1rem;
  background: var(--color-fon);
}

i {
  font-size: 1.25rem;
}