@use "variables";
@use "flex";
@use "layout";
@use "header";
@use "indents";
@use "helper";
@use "menu";
@use "nav";
@use "color";
@use "button";
@use "table";
@use "card";
@use "dialog";
@use "product";
@use "tabs";

body, #app {
  color: var(--color-dark);
  font-family: var(--font-regular);
  background: var(--color-fon);
}

i {
  font-size: 1.2rem;
}