@use "variables";
@use "flex";
@use "layout";
@use "colors";
@use "indents";
@use "helper";

body, #app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--rpl-color-dark);
  font-family: var(--rpl-font-regular);
  font-size: 1rem;
  background: var(--rpl-color-light);
}