.sp-card {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  border-radius: 0.6rem;

  &.shadow {
    box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  }

  & .head {

  }

  & .content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  & .footer {

  }
}