.sp-primary {
  color: var(--rpl-color-primary);
}

.sp-secondary {
  color: var(--rpl-color-secondary);
}

.sp-success {
  color: var(--rpl-color-success);
}

.sp-info {
  color: var(--rpl-color-info);
}

.sp-warning {
  color: var(--rpl-color-warning);
}

.sp-danger {
  color: var(--rpl-color-danger);
}

.sp-dark {
  color: var(--rpl-color-dark);
}

.sp-white {
  color: var(--rpl-color-white);
}