.sp-primary {
  color: var(--color-primary);
}

.sp-secondary {
  color: var(--color-secondary);
}

.sp-success {
  color: var(--color-success);
}

.sp-success-l {
  color: var(--color-success-light);
}

.sp-success-d {
  color: var(--color-success-dark);
}

.sp-warning {
  color: var(--color-warning);
}

.sp-danger {
  color: var(--color-error);
}

.sp-info {
  color: var(--color-info);
}

.sp-dark {
  color: var(--color-dark);
}

.sp-white {
  color: var(--color-white);
}

.sp-bg-white {
  background: var(--color-white);
}