.sp-primary {
  color: var(--color-primary);
}

.sp-secondary {
  color: var(--color-secondary);
}

.sp-success {
  color: var(--color-success);
}

.sp-info {
  color: var(--color-info);
}

.sp-warning {
  color: var(--color-warning);
}

.sp-danger {
  color: var(--color-danger);
}

.sp-dark {
  color: var(--color-dark);
}

.sp-white {
  color: var(--color-white);
}