.sp-link {
  cursor: pointer;

  &:hover {
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  }
}

// Width in px
@for $i from 1 through 20 {
  $value: $i * 50;
  .sp-wpx-#{$value} {
    max-width: 100%;
    width: $value*1px;
  }
}

// Width in %
@for $i from 1 through 20 {
  $value: $i * 5;
  .sp-w-#{$value} {
    max-width: 100%;
    width: $value*1%;
  }
}

// Height in px
@for $i from 1 through 20 {
  $value: $i * 50;
  .sp-hpx-#{$value} {
    height: $value*1px;
  }
}

// Height in %
@for $i from 1 through 20 {
  $value: $i * 5;
  .sp-h-#{$value} {
    height: $value*1%;
  }
}