.sp-main {
  display: grid;
  grid-template-columns: 16rem auto;
  height: inherit;
  transition: all 300ms ease;

  &.close {
    grid-template-columns: 6rem auto;
  }
}

.sp-wrap {
  height: inherit;
}