.sp-main {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
  margin-left: 16rem;

  &.close {
    margin-left: 6rem;
  }
}

.sp-page {
  height: 100vh;
}

.sp-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}