.sp-main {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease;
  margin-left: 18rem;

  &.close {
    margin-left: 6rem;
  }
}

.sp-page {
  height: 100vh;
}

.sp-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}