.sp-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 18rem;
  left: 0;
  top: 0;
  transition: all .3s ease;
  overflow: auto;
  z-index: var(--z-index-menu);
  background: var(--color-light);
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);

  &.close {
    overflow: inherit;
    width: 6rem;
  }

  & .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    &.close {
      flex-direction: column;
    }

    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 50px;
        height: auto;
      }
    }
  }

  & .content {
    padding: 1rem;

    .menu-item {
      position: relative;
      width: 100%;

      .label {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        user-select: none;
        padding: 1rem 2rem;
        box-sizing: border-box;
        font-size: 14px;
        color: var(--color-dark);
        transition: all 0.3s ease;
        cursor: pointer;
        font-family: var(--font-medium);
        position: relative;
        border-radius: 0.6rem;
        overflow: hidden;

        > div {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        & .right {
          &.close {
            display: none;
          }
        }

        i {
          font-size: 1.25rem;
          margin-right: 0.8rem;

          &.expand {
            font-size: 1.25rem;

            &.opened {
              transform: rotate(180deg);
            }
          }
        }

        &.close {
          width: fit-content;
        }


        &:hover {
          color: var(--color-primary);
          transition: all 0.3s ease;
        }

        & .active-route-link {
          background: var(--color-primary);
          color: var(--color-white) !important;
        }
      }

      .items-container {
        width: 100%;
        left: calc(100% + 6px);
        transition: height 0.3s ease;
        display: none;

        &.show {
          display: block;
        }

        &.close {
          width: fit-content;
          position: absolute;
          background: var(--color-light);
          box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
          top: 0;
          padding: 1rem;
          border-radius: 0.6rem;

          .label {
            width: 100% !important;
            padding-left: 20px !important;
          }
        }
      }
    }
  }
}