.sp-menu {
  display: flex;
  flex-direction: column;
  background: var(--color-light);
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 18rem;
  z-index: var(--z-index-menu);

  &.close {
    width: 6rem;
  }

  & .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    &.close {
      flex-direction: column;
    }

    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      & .title {
        font-family: var(--font-bold);
        font-size: 1.6rem;
        text-align: center;
        color: var(--color-error);

        &.close {
          display: none;
        }
      }

      & img {
        width: 50px;
        height: auto;
      }
    }
  }

  & .content {
    & .links {
      margin-top: 2rem;
      padding: 1rem;

      & li {
        position: relative;

        & .link {
          display: flex;
          align-items: center;
          padding: 1rem 2rem;
          cursor: pointer;
          font-family: var(--font-medium);
          position: relative;
          color: var(--color-dark);
          border-radius: 0.6rem;
          overflow: hidden;

          &.close {
            justify-content: center;
          }

          & .icon {
            font-size: 1.25rem;
            margin-right: 0.8rem;

            &.close {
              margin: 0;
            }
          }

          & .sub-link {
            position: absolute;
            right: 1rem;

            &.close {
              display: none;
            }
          }

          & .title {
            &.close {
              display: none;
            }
          }

          &:hover {
            color: var(--color-primary);
            transition: all 0.3s ease;
          }
        }

        & .active-route-link {
          background: var(--color-primary);
          color: var(--color-white) !important;
        }
      }

      & .sub {
        display: none;

        &.show {
          display: block;
        }

        &.close {
          position: absolute;
          left: 125%;
          background: var(--color-light);
          top: 0;
          margin-top: 0;
          white-space: nowrap;
          box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
          z-index: var(--z-index-menu-sub);
          border-radius: 0.6rem;
          overflow: hidden;
          padding: 1rem;

          & li {
            & .link {
              padding: 1.2rem 2.2rem;
            }
          }
        }

        & li {
          position: relative;

          & .link {
            display: flex;
            align-items: center;
            padding: 1rem 2rem 1rem 3rem;
            cursor: pointer;
            color: var(--color-dark);
            font-family: var(--font-regular);
            position: relative;

            & .icon {
              font-size: 1.25rem;
              margin-right: 0.8rem;
            }

            &:hover {
              color: var(--color-primary);
              transition: all 0.3s ease;
            }
          }

          & .active-route-link {
            background: var(--color-primary);
            color: var(--color-white) !important;
          }
        }
      }
    }
  }
}