.sp-nav {
  display: grid;
  align-items: center;

  &.part-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'start end'
  }

  &.part-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'start center end'
  }

  &.shadow {
    border-radius: 0.6rem;
    box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  }

  & .start {
    grid-area: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: flex-end;
    }
  }

  & .center {
    grid-area: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: flex-end;
    }
  }

  & .end {
    grid-area: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }
  }

  & .item {
    display: flex;
    align-items: center;
    padding: 1.4rem;
  }
}