.sp-table {
  width: 100%;
  border-spacing: unset;

  & .w5 {
    width: 5%;
  }

  & .w10 {
    width: 10%;
  }

  & .w20 {
    width: 20%;
  }

  & .w30 {
    width: 30%;
  }

  & .w80 {
    width: 80%;
  }

  & .id {
    width: 50px;
  }

  & .control {
    width: 100px;
  }

  & .left {
    text-align: left;
  }

  & .center {
    text-align: center;
  }

  & .right {
    text-align: right;
  }

  & thead {
    & tr {
      & th {
        padding: 0.75rem;
        border-bottom: 1px solid var(--color-light);
        color: var(--color-dark);
        font-family: var(--font-medium);

        & section {
          display: flex;
          align-items: center;
        }

      }
    }
  }

  & tbody {

    & tr {

      & td {
        padding: 0.75rem;
        border-bottom: 1px dashed var(--color-light);
      }

      & :last-child {

        & td {
          border-bottom: 1px solid var(--rpl-color-border-1);
        }

      }

      & .result {
        background: #F3F6F9;
      }
    }
  }
}