:root {
  --rpl-color-primary: #6362E7;
  --rpl-color-secondary: #FFC500;
  --rpl-color-success: #7DC006;
  --rpl-color-info: #00B8E9;
  --rpl-color-warning: #FF8819;
  --rpl-color-danger: #E52727;
  --rpl-color-light-1: #8F97B2;
  --rpl-color-light: #F4F6FD;
  --rpl-color-dark: #1E2F65;
  --rpl-color-white: #FFFFFF;

  --rpl-font-thin: 'Roboto-Thin', serif;
  --rpl-font-light: 'Roboto-Light', serif;
  --rpl-font-regular: 'Roboto-Regular', serif;
  --rpl-font-medium: 'Roboto-Medium', serif;
  --rpl-font-bold: 'Roboto-Bold', serif;
}