:root {
  --color-primary: #0d6efd;
  --color-secondary: #6610f2;
  --color-success: #198754;
  --color-warning: #FFC107;
  --color-error: #dc3545;
  --color-info: #0dcaf0;
  --color-light: #F4F6FD;
  --color-dark: #2c3e50;
  --color-white: #FFFFFF;
  --color-fon: #F4F6FD;
  --color-border: #dcdfe6;

  --font-thin: 'Roboto-Thin', serif;
  --font-light: 'Roboto-Light', serif;
  --font-regular: 'Roboto-Regular', serif;
  --font-medium: 'Roboto-Medium', serif;
  --font-bold: 'Roboto-Bold', serif;
}