:root {
  --color-primary: #9599f7;
  --color-secondary: #B98FF7;
  --color-success: #67A42C;
  --color-warning: #FFE089;
  --color-error: #f33a67;
  --color-info: #89b3fe;
  --color-light: #dcdaed;
  --color-dark: #2c3e50;
  --color-white: #FFFFFF;
  --color-fon: #ebebf5;
  --color-border: #dcdfe6;
  --color-active: #ebeffe;
  --color-active-1: #eae0fe;

  --font-light: 'Light';
  --font-regular: 'Regular';
  --font-medium: 'Medium';
  --font-bold: 'Bold';
}